body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:46px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:45px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:41px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:45px;
  width:537px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:533px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:45px;
  width:50px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:45px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:249px;
  word-wrap:break-word;
}
