body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:46px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:45px;
  width:80px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:41px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:45px;
  width:508px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:504px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:45px;
  width:50px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:45px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:249px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:111px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:85px;
  width:508px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:111px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:85px;
  width:50px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:46px;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:91px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:94px;
  width:494px;
  height:90px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:111px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:85px;
  width:253px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:111px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:109px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:105px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:111px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:85px;
  width:80px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:76px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:111px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:195px;
  width:508px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:111px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:195px;
  width:50px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:46px;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:91px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:204px;
  width:494px;
  height:90px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:111px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:195px;
  width:253px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:249px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:111px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:109px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:105px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:111px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:195px;
  width:80px;
  height:110px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:76px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:76px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:580px;
  width:508px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:76px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:580px;
  width:50px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:56px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:589px;
  width:494px;
  height:55px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:76px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:580px;
  width:253px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:76px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:109px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:105px;
  word-wrap:break-word;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:76px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:580px;
  width:80px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:76px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:655px;
  width:508px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:76px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:655px;
  width:50px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:56px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:664px;
  width:494px;
  height:55px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:76px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:655px;
  width:253px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:116px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:109px;
  height:115px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:105px;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:76px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:655px;
  width:80px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:41px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:730px;
  width:508px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:21px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:739px;
  width:494px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:730px;
  width:80px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:730px;
  width:50px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:730px;
  width:253px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:140px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u949_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u949_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:1078px;
}
#u949_seg2 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:1066px;
  width:54px;
  height:8px;
}
#u949_seg3 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:1060px;
  width:20px;
  height:20px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:537px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:510px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:955px;
  width:960px;
  height:510px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:197px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1101px;
  width:367px;
  height:196px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1121px;
  width:71px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1181px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1121px;
  width:71px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1181px;
  width:87px;
  height:20px;
}
#u955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1211px;
  width:44px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1211px;
  width:87px;
  height:20px;
}
#u957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:76px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:305px;
  width:508px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:76px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:305px;
  width:50px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:56px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:314px;
  width:494px;
  height:55px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:76px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:305px;
  width:253px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:249px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:276px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:109px;
  height:275px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:105px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:76px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:305px;
  width:80px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:126px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:380px;
  width:508px;
  height:125px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:106px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:389px;
  width:494px;
  height:105px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:126px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:380px;
  width:80px;
  height:125px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:76px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:126px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:380px;
  width:50px;
  height:125px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:46px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:126px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:380px;
  width:253px;
  height:125px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:249px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:76px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:505px;
  width:508px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:56px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:514px;
  width:494px;
  height:55px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:76px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:505px;
  width:80px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:76px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:505px;
  width:50px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:76px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:505px;
  width:253px;
  height:75px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:249px;
  word-wrap:break-word;
}
