body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:46px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:1000px;
  height:40px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:996px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:226px;
  width:155px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:46px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:1000px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:36px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:226px;
  width:165px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:226px;
  width:105px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:61px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:214px;
  width:175px;
  height:60px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:171px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:324px;
  width:105px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:244px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u970_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u970_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:244px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u971_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u971_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:244px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u972_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u972_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:220px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:226px;
  width:71px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:226px;
  width:94px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:244px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u976_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u976_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:244px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u977_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u977_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:36px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:449px;
  width:175px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:274px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u979_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u979_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:359px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u980_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u980_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:284px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:395px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:534px;
  width:105px;
  height:35px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:484px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u984_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u984_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:271px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
